/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font-weight: normal
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section
  display: block

body
  line-height: 1

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: none

table
  border-collapse: collapse
  border-spacing: 0

/* custom */

a
  color: #7e8c8d
  -webkit-backface-visibility: hidden //  backface-visibility 属性定义当元素不面向屏幕时是否可见
  text-decoration: none // text-decoration 属性规定添加到文本的修饰，下划线、上划线、删除线等

li
  list-style: none // list-style 简写属性在一个声明中设置所有的列表属性

body
  -webkit-text-size-adjust: none //  text-size-adjust CSS 控制将一些手机或平板设备上使用的文本溢出算法. none 禁用浏览器的文本溢出算法
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) // 设置或检索对象的轻按时高亮
